<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is Your Collection</h2>

<% PiecePattern.all.select{|piecepattern| piecepattern.piece.user_id == session[:user_id]}.each do |piecepattern| %>
<ul>
  <li><a href="/piecepatterns/<%= piecepattern.id%>"><%= piecepattern.quantity %> - <%= piecepattern.piece.size%> <%= piecepattern.piece.name %> in <%= piecepattern.pattern.name %> </li><br>
</ul>
<% end %>


<br></br>
<a href="/piecepatterns/new">Add Another Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a><br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">Your Collection Grouped By Pieces</a><br>
<a href="/logout">Logout</a><br>
