<h1>Welcome <%= @user.username %></h1>

<h2>Here is your collection: </h2>

<% @user.pieces.each do |piece| %>
<ul>
  <li><a href="/pieces/<%= piece.id %>"><%= piece.size %> <%= piece.name %></li>
    <% piece.patterns.each do |pattern| %>
    <ul>
      <li><%= pattern.name %></li>
    </ul>
    <% end %>
</ul>
<% end %>

<br></br>
<% if flash.has?(:message) %>
  <div class="message"><%= flash[:message] %></div>
<% end %>

<br></br>

<a href="/piecepatterns">All Your Pieces </a><br>
<a href="/pieces/new">Add a new piece </a><br>
<a href="/patterns/new">Add a new pattern </a><br>
<a href="/logout">Log Out </a><br>
