<h1>Edit Piece:</h1>

<form action="/pieces/<%= @piece.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="piece_name">Edit Name: <input type="text" name="name" id="piece_name" value="<%= @piece.name %>"></label>
  <label for="piece_size">Edit Size: <input type="text" name="size" id="piece_size" value="<%= @piece.size %>"></label>
  <br></br>
  <% @patterns = current_user.patterns %>
  <% @patterns.uniq.each do |pattern| %>
    <label><%= pattern.name %></label>
    <input type="checkbox" name="patterns[]" value="<%= pattern.id %>" id="<%= pattern.name%>" <%='checked' if @piece.patterns.include?(pattern)%>>
  <% end %>

  <br></br>
  <label for="new_pattern">Add Pattern: <input type="text" name="pattern[name]" id="new_pattern"></label>
  <!-- <label for="new_quantity">Quantity: <input type="text" name="pattern[quantity]" id="new_quantity"></label> -->
  <br></br>


  <input type="submit" value="Update Piece">
</form>

<br></br>
<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>
<br></br>

<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">Home</a><br>
<a href="/logout">Log Out</a>
