<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is your collection</h2>

<% @pieces = current_user.pieces %>
<% @pieces.each do |piece| %>
<ul>
  <li><a href="/pieces/<%= piece.id %>"><%= piece.size %> <%= piece.name %></li><br>
    <% piece.patterns.each do |pattern| %>
    <ul>
      <li><%= pattern.name %></li>
    </ul>
    <% end %>
</ul>
<% end %>

<a href="/piecepatterns">All Your Pieces </a><br>
<a href="/pieces/new">Add a New Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a><br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/logout">Log Out </a><br>
