<h1>Hello <%= @user.username%>!</h1>

<h2>Here is your collection</h2>

<% Piece.all.each do |piece| %>
<ul>
  <li><a href="/pieces/<%= piece.id %>"><%= piece.quantity%> <%= piece.pattern %> <%= piece.size %> <%= piece.name %></li>
</ul>
<% end %>

<a href="/pieces/new">Add a New Piece</a><br>
<a href="/logout">Log Out </a><br>
