<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is your collection</h2>

<% @pieces = current_user.pieces %>
<% @pieces.each do |piece| %>
<ul>
  <li><a href="/pieces/<%= piece.id %>"><%= piece.patterns.count %> - <%= piece.size %> <%= piece.name %>(s)</a></li><br>
    <% piece.patterns.each do |pattern| %>
    <ul>
      <li><a href="/patterns/<%= pattern.id%> "><%= pattern.name %></a></li>
    </ul>
    <% end %>
</ul>
<% end %>

<br></br>

<div class="container" id="pattern_pictures">
  <img src="images/vegetables.jpg" class="col-3 wrapper">
  <img src="images/stargazers.jpg" class="col-3 wrapper">
  <img src="images/blue_peacock.jpg" class="col-3 wrapper">
  <img src="images/love_and_kisses1.jpg" class="col-3 wrapper">
</div>
