
<h2>Piece Name: <%= @piece.name %></h2>
<br>
<h2>Size: <%= @piece.size %></h2>
<br>

<h3>In Patterns:</h3>
<% @piece.patterns.each do |pattern| %>
<ul>
  <li><a href="/patterns/<%= pattern.id %>"><%= pattern.name %></li>
</ul>
<% end %>

<a href="/pieces/<%= @piece.id %>/edit">Edit Piece </a>
<br></br>

<form action="/pieces/<%=@piece.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Piece">
</form>

<br></br>
