<h1>Edit Pattern:</h1>

<form action="/patterns/<%= @pattern.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <label for="pattern_name">Edit Name: <input type="text" name="pattern[name]" value="<%= @pattern.name %>"></label>
  <br><br>
  <% @pieces.uniq.each do |piece| %>
  <label><%= piece.size %> <%= piece.name %></label>
  <input type="checkbox" name="pieces[]" value="<%= piece.id %>" id="<%= piece.id %>" <%='checked' if @pattern.pieces.include?(piece)%>><br>
  <% end %>

  <br></br>
  <label for="new_piece">Add Piece: <input type="text" name="piece[name]" id="new_piece"></label>
  <label for="new_size">Add Size: <input type="text" name="piece[size]" id="new_size"></label>
  <br><br>


  <input type="submit" value="Update Pattern">
</form>

<br></br>
