<h1>Create a New Pattern</h1>

<form action="/patterns" method="POST">
  <label for="pattern_name">Pattern Name: <input type="text" name="pattern[name]" id="pattern_name"></label>
  <br></br>
  <h2>Available Pieces</h2>
  <% @pieces = current_user.pieces %>
  <% @pieces.uniq.each do |piece| %>
    <input type="checkbox" name="pieces[]" id="<%= piece.id %>" value="<%= piece.id%>"><%= piece.size %> <%= piece.name%></input><br>
  <% end %>
  <br></br>
  <h2>Create new Piece:</h2>
  <label for="new_piece_name">Name: <input type="text" name="piece[name]" id="new_piece_name"></label>
  <label for="new_piece_size">Size: <input type="text" name="piece[size]" id="new_piece_size"></label>
  <br></br>

  <input type="submit" value="Create Pattern">
</form>


<br></br>
<% if flash.has?(:message) %>
  <div class="message"><%= flash[:message] %> </div>
<% end %>

<br></br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Logout</a><br>
