<h2>Pattern Name: <%= @pattern.name %><h2>

<h3>Pieces:<h3>
  <%  @pattern.pieces.select{|piece| piece.user_id == current_user.id}.each do |piece| %>
    <p><a href="/pieces/<%= piece.id %>"> <%= piece.size %> <%= piece.name %></a></p>
  <% end %>

<br></br>


<h2>Items from your Wishlist in this Pattern: </h2>
<% @wishlist.select{|wishlist| wishlist.pattern_name == @pattern.name}.each do |wishlist| %>
  <ul>
    <h3><a href="/wishlists/<%= wishlist.id%>"><%= wishlist.quantity%> - <%= wishlist.piece_size%> <%= wishlist.piece_name%>(s)</a></h3>
  </ul>
<% end %>

<a href="/patterns/<%= @pattern.id %>/edit">Edit Pattern </a>
<br></br>
<br></br>

<form action="/patterns/<%=@pattern.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Pattern">
</form>

<br></br>
