<h2>Pattern Name: <%= @pattern.name %><h2>

<h3>Pieces:<h3>
  <%  @pattern.pieces.select{|piece| piece.user_id == current_user.id}.each do |piece| %>
    <p><a href="/pieces/<%= piece.id %>"><%= @pattern.quantity %> <%= piece.size %> <%= piece.name %></a></p>
  <% end %>

<br></br>


<a href="/patterns/<%= @pattern.id %>/edit">Edit Pattern </a>
<br></br>

<form action="/patterns/<%=@pattern.id%>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="submit" value="Delete Pattern">
</form>

<br></br>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<br></br>

<a href="/patterns/new">Add Another Pattern</a><br>
<a href="/pieces/new">Add Another Piece</a><br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Logout</a><br>
