<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is your Wishlist</h2>

<% @wishlist = current_user.wishlists %>
<% @wishlist.each do |wishlist| %>
<ul>
  <li><a href="/wishlists/<%= wishlist.id %>"><%= wishlist.quantity%> - <%= wishlist.pattern_name %> <%= wishlist.piece_size%> <%= wishlist.piece_name %>(s)</a></li><br>
</ul>
<% end %>


<a href="/wishlists/new">Add an Item to Your Wishlist</a><br>

<br></br>
<a href="/pieces/new">Add a New Piece</a><br>
<a href="/patterns/new">Add a New Pattern</a><br>
<a href="/patterns">See Your Patterns</a><br>
<a href="/pieces">See Your Collection</a><br>
<a href="/logout">Log Out </a><br>
