<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is your Wishlist</h2>

<% @wishlist = current_user.wishlists %>
<% @wishlist.each do |wishlist| %>
<ul>
  <li><a href="/wishlists/<%= wishlist.id %>"><%= wishlist.quantity%> - <%= wishlist.pattern_name %> <%= wishlist.piece_size%> <%= wishlist.piece_name %>(s)</a></li><br>
</ul>
<% end %>

<br></br>

<h3><a href="/wishlists/new">Add an Item to Your Wishlist</a></h3><br>

<br></br>

<div class="container" id="pattern_pictures">
  <img src="images/black_toast1.jpg" class="col-3 wrapper">
  <img src="images/blues1.jpg" class="col-3 wrapper">
  <img src="images/tiny_wallflower.jpg" class="col-3 wrapper">
  <img src="images/love_and_kisses1.jpg" class="col-3 wrapper">
  <img src="images/black_toast2.jpg" class="col-3 wrapper">
  <img src="images/blues2.jpg" class="col-3 wrapper">
  <img src="images/blues_and_blacks.jpg" class="col-3 wrapper">
  <img src="images/tiny_wallflower2.jpg" class="col-3 wrapper">
  <img src="images/love_and_kisses5.jpg" class="col-3 wrapper">
  <img src="images/black_toast3.jpg" class="col-3 wrapper">
  <img src="images/blues4.jpg" class="col-3 wrapper">
  <img src="images/black_toast4.jpg" class="col-3 wrapper">
  <img src="images/blues5.jpg" class="col-3 wrapper">
  <img src="images/greens1.jpg" class="col-3 wrapper">
  <img src="images/rose_and_bee.jpg" class="col-3 wrapper">
  <img src="images/reds_and_greens.jpg" class="col-3 wrapper">
</div>
