<h1>Hello <%= current_user.username%>!</h1>

<h2>Here is your Wishlist</h2>

<% @wishlist = current_user.wishlists %>
<% @wishlist.each do |wishlist| %>
<ul>
  <li><a href="/wishlists/<%= wishlist.id %>"><%= wishlist.quantity%> - <%= wishlist.pattern_name %> <%= wishlist.piece_size%> <%= wishlist.piece_name %>(s)</a></li><br>
</ul>
<% end %>

<br></br>
<% if flash.has?(:message) %>
  <div class="message"><%= flash[:message] %> </div>
<% end %>

<h3><a href="/wishlists/new">Add an Item to Your Wishlist</a></h3><br>

<br></br>
